Makefil*
src/Makefil*
auto*
conf*
aclocal.m4
*.o
*bar
temp_dir/
src/.deps/
.deps/
*.in
*.in~
*stam*
*.txt
src/pinky_curses
*.xz
*.pdc
*.pyo
__pycache__
*.info










!Makefile.am
src/Makefile.am



!configure.ac
!Makefile.skel
!extra/FreeBSD/Makefile
!extra/bash_zsh/_pinkybar
!extra/bash_zsh/pinkybar
!doc/man_template.pdc
!extra/Gentoo/app-admin/pinky/*
!doc/Makefile
